/*BODY*/
body {
    background-color: #fffdf0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.refresh-btn {
    cursor: pointer;
    font-size: 1.5em;
}

.joke-box {
    background-color: white;
    border: 1px solid;
    padding: 1em;
    border-radius: 10px;
    font-size: 12;
    text-align: center;
}

.joke-box .setup {
    font-weight: bold;
}

.joke-box .delivery {
    margin-top: 0.5em;
}

.joke-box .single {
    font-style: italic;
}


/*HEADER*/

header {}

.logo {}

.navbar {}

.nav-links {}

.nav-links li {}

.nav-links a {}

.nav-links a:hover {
    color: yellow;
}


/*SECTIONS*/

#feed {
    margin-top: 2em;
    padding: 1em;
    border-radius: 12px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#galerie {}

#jeux {}


/*FOOTER*/

footer {}